body{
    background: rgb(233, 233, 235) !important;
}

/* head */
.container{
    margin-bottom: 7rem;
}

.identification{
    font-size: 1.5rem;
}

.nav__logo{
    width: 50px;
    
}

.nav-item{
    padding-right: 40px;
}

.nav-link{
  margin-left: 2rem;
}



.my-img{
    width: 75%;
    margin-top: 2rem;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s , 2s;
    
   
}

/* About */


.about__description{
    margin-top: 5rem;
    font-size: 1.5rem;
}
.about__img{
    width: 75%;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}


/* portfolio */

.portfolio{
    margin-bottom: 2rem;
}

/* Contact */

.contact__list{
 list-style: none;
 display: flex;
 padding: 0;
}

.list__item{
    margin-right: 10px;
    font-size: 40px;
}

.cv .btn {
    color: white !important;
}

/* For animation */

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform:scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
        
    }
    50% {
        transform: translateY(-24px);
        
    }
    100% {
        transform: translateY(0px);
        
    }
}

